:root{
    --background-color: #222831;
    --text-color: #EEEEEE;
    --text-color2: #31363F;
    --shadow-color: #76ABAE;
    --shadow-color-accent: rgba(118, 171, 174, 0.3);
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    
}

.title-text{
    color: var(--text-color);
    font-size: 1.5rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 5rem 3rem 5rem;
    border-radius: 20px;
    background-color: var(--text-color2);
    transition: ease-in-out 0.5s;
    box-shadow: -12px -12px 2px 1px var(--shadow-color-accent);
    width: 20%;
}

.form:hover{
    box-shadow: 12px 12px 2px 1px var(--shadow-color-accent);
    transition: ease-in-out 0.5s;
}

input{
    all: unset;
    border-bottom: 2px solid var(--shadow-color);
    color: var(--text-color);
}

.boxText{
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 1rem;
    
}

button{
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--shadow-color);
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin-top: 1rem;
    width: 5rem;
    transition: ease-in-out 0.5s
}

button:hover{
    background-color: var(--text-color);
    color: var(--text-color2);
    transition: ease-in-out 0.5s
}

.hidden{
    display: none;
}